.hazardMarkerPopup .leaflet-popup-content-wrapper {
  background-color: hsl(var(--nextui-content1));
  color: hsl(var(--nextui-content1-foreground));
  min-width: 400px;
  min-height: 110px;
}

.hazardMarkerPopup .leaflet-popup-tip {
  background-color: hsl(var(--nextui-content1));
}

.hazardMarkerPopup .leaflet-popup-close-button {
  color: hsl(var(--nextui-content1-foreground)) !important;
}

.hazardMarkerPopup .leaflet-popup-content p {
  margin: 0;
}
