@tailwind base;
@tailwind components;
@tailwind utilities;

/* Accordion - Container */
.accordion-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  padding: 8px;
}

.accordion-container .nextui-accordion-item {
  border-bottom: 1px solid #e0e0e0; 
}

.accordion-container .nextui-accordion-item:last-child {
  border-bottom: none;
}

.info-icon {
  width: 37;
  height: 37;
}

/* Card */
.card {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.cards-wrapper {
  margin-top: -25px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBody {
  overflow: visible;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContentContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.cardItem {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.image {
  border-radius: 0.75rem;
  width: 52px;
  height: 47px;
}

.timeText {
  font-size: 0.75rem;
  color: #888888;
  text-align: center;
}

.text {
  font-size: auto;
  text-align: center;
  margin-top: 0.5rem;
}
.lightTheme {
  background-color: #ffffff;
  color: #333333;
}

.darkTheme {
  background-color: #424242;
  color: #e0e0e0;
}
