@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        @apply max-w-screen-lg mx-auto
    }

    main h1 {
        @apply text-4xl sm:text-5xl lg:text-7xl font-black mb-8
    }

    main h2 {
        @apply text-2xl lg:text-3xl mb-3
    }

    main p, ol, ul {
        @apply text-large leading-relaxed pb-6
    }

    main p:last-child {
        @apply pb-0
    }

    main ol, ul {
        @apply pl-8
    }

    main ol {
        @apply list-decimal
    }

    main ul {
        @apply list-disc
    }
}

/* PdfViewer.css */
canvas.react-pdf__Page__canvas {
    margin-bottom: 50px;
}

/* Define custom classes for animation delay */
.dot-delay-1 {
    animation-delay: 0s;
}

.dot-delay-2 {
    animation-delay: 0.3s;
}

.dot-delay-3 {
    animation-delay: 0.6s;
}
