/* ------------------ Chatbot component custom CSS ------------------ */
/* default prompt button */
.chatbot-default-prompt-button.light {
  border: 1px solid black !important;
  background-color: transparent;
}

.chatbot-default-prompt-button.light:hover {
  background-color: rgba(217, 226, 234, 1) !important;
}

.chatbot-default-prompt-button.dark {
  border: 1px solid white !important;
  background-color: transparent;
}

.chatbot-default-prompt-button.dark:hover {
  background-color: rgba(132, 142, 152, 0.63) !important;
}


/* chat message */
.chat-user-message-light {
  background-color: rgba(230, 241, 254, 1) !important;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 19px;
}

.chat-user-message-dark {
  background-color: rgba(38, 38, 42, 1) !important;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 19px;
}

.chat-ai-message {
  background-color: transparent;
  padding: 16px;
  margin-bottom: 19px;
}

.chat-typing-animation {
  margin-top: 12px;
}